header.universal-header
	.header-logo
		.logo
		.title
			h1 Project <b>Karma</b>
	nav.header-nav
		button.login-button Login
		input.password.login(type="password", placeholder="password")
		input.username.login(type="text", placeholder="username")
	nav.header-create
		button.initiative(data-reveal-id='myModal') Start an initiative
		button.view View User Profile
	