@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html {
	font-family: 'Lato', sans-serif !important;
	font-weight: 100;
	font-size: unit(16px/16px, em);
	-webkit-font-smoothing: antialiased;
	height: 100%;
	body {
		height: 100%;
		padding: 0;
		margin: 0;
		text-align: center;

		@media (max-width: 1280px) {
			font-size: 90%
		}
	}
}

nav.header-nav {
	top: 0;
	right: 0;
	position: absolute;
	float: right;
	padding: 5px 20px;
	height: 64px;
}
button {
	position: relative;
	display: inline-block;
	border-style: none;
	padding: 0 30px;
	height: 32px;
	background-color: #eee;
	border: 1px solid #ddd;
	vertical-align: middle;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	&.selected {
		background: #ccc;
		font-weight: 700;

	}
	&:hover {
		background-color: #ddd;
	}
	&.login-button {
		top: 50%;
		margin-top: -15px;
		float: right;
	}
	&.get-started {
		position: relative;
		font-weight: 300;
		font-size: unit(24px/16px, em);
		height: auto;
		padding: 10px 30px;
		margin: 30px;
		border: none;
		box-shadow: 0px 2px 0 0 #C0392B;
		background-color: #E74C3C;
		color: white;
		&:hover{
			top: 2px;
			box-shadow: none;
		}
	}
}

input {
	display: inline-block;
	outline: none;
	border-style: none;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin: 0 5px;
	&.login {
		top: 50%;
		position: relative;
		margin-top: -15px;
		float: right ;
	}
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

#scale-slider {
	display: none;
	opacity: 0;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}
span.number {
	display: none;
	opacity: 0;
	font-size: 24px;
	font-weight: 300;
	color: white;
}
.header-logo {
	padding: 5px 20px;
	@size : unit(64px/16px, em);
	overflow: hidden;
	.title {
		float: left;
		display: inline-block;
		height: @size;
		padding: 0 20px;
		h1 {
			line-height: 64px;
			font-weight: 300;
			margin: 0;
			b {
				font-weight: 400;
				color: #E74C3C;
			}
			vertical-align: middle;
		}
	}

	.logo {
		float: left;
		display: inline-block;
		width: @size;
		height: @size;
		background: url('../img/icons/logo.svg');
		background-size: @size @size;
	}
}

#map-canvas {
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
	clear: both;
	height: 350px;
	margin: 0;
}

header#search-title {
	font-size: unit(32px/16px, em);
	font-weight: 300;
	position: relative;
	margin-top: 10px;
	opacity: 0;
	display: none;
}
section.search-results {
	display: none;
	opacity: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #eee;
	overflow-x: scroll;
	// width: 100%;
	white-space: nowrap;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	.results {
		position: relative;
		// top: -30px;
		// overflow: hidden;
		article.result {
			position: relative;
			width: 30%;
			min-width: 400px;
			padding: 30px;
			margin: 10px;
			display: inline-block;
			// background-color: #eee;
			background-color: #E74C3C;
			// float: left;
			header.result-title {
				font-size: unit(28px/16px, em);
				font-weight: 300;
				padding: 10px 0 5px 0;
				color: white;
			}
			&:last-child {
				margin-right: 30px;
			}
			span.string {
				color: #FFF;
				font-size: 1.3em;
				font-weight: 400;
			}
			.result-logo {
				width: 64px;
				height: 64px;
				margin: 10px;
				color: white;
				float: left;
				font-weight: 300;
				font-size: 1.2em;
				border-radius: 32px;
				border: 3px solid #FFF;
				line-height: 64px;
				font-weight: 700;

			}
		}
	}
}

section.map-overlay {
	position: relative;
	display: inline-block;
	width: 20%;
	min-width: 300px;
	height: 250px;
	background: rgba(1,1,1,0.8);
	margin-top: -320px;
	top: -50px;
	// margin-left: 60px;
	z-index: 300;
	padding: 20px;
	header.title {
		padding: 10px;
		font-size: unit(42px/16px, em);
		font-weight: 300;
		color: white;
		padding-bottom: 20px;
	}
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

section.splash {
	display: inline-block;
	margin: 30px;
	padding: 0px 30px 30px 30px;
	// background: #eee;
	text-align: center;
	header.title {
		font-weight: 300;
		font-size: unit(48px/16px, em);
	}
	span.subtitle {
		font-weight: 300;
		color: #aaa;
		font-size: unit(28px/16px, em);
	}
}

hr {
	position: relative;
	width: 50%;
	opacity: 0.2;
	top: -25px;
	// padding: 30px;
}

section.descrip-boxes {
	text-align: center;
	.wrapper {
		position: relative;
		display: inline-block;
		width: 25%;
		@media (max-width: 1280px) {
			width: 33.33%;
		}
		min-width: 300px;
		// height: 200px;
		text-align: center;
		article.descrip-box {
			position: relative;
			display: inline-block;
			background: #f5f5f5;
			margin: 10px;
			width: 80%;
			height: 100%;
			padding: 20px;
			border: 1px solid #eee;
			span.title {
				font-weight: 300;
				font-size: unit(32px/16px, em);
			}
			p.text {
				font-weight: 400;
				font-size: unit(20px/16px, em);
				text-align: justify;
			}
			.icon {
				@size: unit(128px/16px, em);
				display: inline-block;
				width: @size;
				height: @size;
				opacity: 0.8;
				&.discover {
					background: url(../img/icons/discover.svg);
					background-size: @size @size;
				}
				&.connect {
					background: url(../img/icons/connect.svg);
					background-size: @size @size;
				}
				&.collaborate {
					background: url(../img/icons/collaborate.svg);
					background-size: @size @size;
				}

			}
		}
	}
}

