include ./includes/header_files
body.colored
	script(src='/js/opentok.js')
	include ./includes/header
	.wrapper
		section.title-header
			header.title NAME
			button.invite invite
			ul.members
				li.member blah
				li.member blah
				li.member blah
			hr

		section.right-panel.panel
			article.right.pane
				h2 Tasks
				form.create-task
					h2 NAME
					input#name(type="text", placeholder="Name")
					br
					h2 DESCRIPTION
					textarea#desc(type="text", placeholder="Description")
					br
					h2 REQUIREMENTS
					.table
						.column.ten.status
							.row.head 	Status
							//- .row.main.entypo-check.icon.selected.tick
						.column.forty.name
							.row.head 	Name
							//- .row.main	Item1
						.column.forty.providers
							.row.head 	Providers
							//- .row.main	Item2
						.column.ten.actions
							.row.head 	Actions
							//- .row.main.entypo-thumbs-up.icon.selected.thumbs
					input#req(type="text", placeholder="Add a requirement")
					span.entypo-plus-circled.icon
					h2 DEADLINE
					input#deadline(type="date")
					br
					button.submit Submit
		section.left-panel.panel
			article.left.pane
				h2 Timeline
				.wrapper
					section.vertical-bar
						.progress
					ul.tasks
		section.chat
			#me
			//- br
			//- br
			//- button.showChat CHAT
			//- button.hideChat TIMELINE
	include ./includes/footer_files