include ./includes/header_files
body.colored
	include ./includes/header
	.wrapper
		section.title-header
			header.title Name of NGO
			button.invite INVITE
			hr
		section.left-panel.panel
			article.left.pane
				.item
					header.title <span class="entypo-quote"></span> &nbsp Description
					p.description
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque, distinctio, dignissimos doloremque accusamus iure deserunt at architecto velit numquam autem voluptatum adipisci. Neque, error, dignissimos quae quidem inventore eveniet.
				.item
					header.title <span class="entypo-target"></span> &nbspRequirements
					ul
						li Something
						li Something
						li Something
						li Something
				.item
					header.title <span class="entypo-briefcase"></span> &nbsp Resources
					ul
						li Something
						li Something
						li Something
						li Something

		section.right-panel.panel
			article.right.pane
				.item
					header.title <span class="entypo-rocket"></span> &nbsp Initiatives
					ul
						li Something
						li Something
						li Something
						li Something
				.item
					header.title <span class="entypo-link"></span> &nbsp Collaborators
					ul
						li Something
						li Something
						li Something
						li Something