include ./includes/header_files
body
	include ./includes/header
	#map-canvas
	//- input#address(type='textbox', value='Sydney, NSW')
	section.map-overlay
		header.title Search
		button.location.selected.filter.text#loc location
		button.scale.filter#scale scale
		button.work.filter.text#work work
		br
		br
		br
		input.search(type="text", placeholder="search")
		#scale-slider.scale-slider
		span.scale-slider.number 0
		br
		br
		br
		button.submit Search
		br
		br
		br
	br
	header.title#search-title RESULTS
	section.search-results
		.results
	section.splash
		header.title
			| Introducing <b> Karma </b>
		span.subtitle
			| A good subtitle here, maybe something long but not too long
	hr
	section.descrip-boxes
		.wrapper
			article.descrip-box
				.icon.discover
				br
				span.title Discover
				p.text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, vitae, deserunt, eius iusto placeat eaque
		.wrapper
			article.descrip-box
				.icon.connect
				br
				span.title Connect
				p.text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, vitae, deserunt, eius iusto placeat eaque
		.wrapper
			article.descrip-box
				.icon.collaborate
				br
				span.title Collaborate
				p.text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, vitae, deserunt, eius iusto placeat eaque
	button.get-started Try Now
	input.description(type="text")
	include ./includes/footer_files